{% extends 'base.html' %}
{% block container %}
    
<form action="" method="post">
    {% csrf_token %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">NAME</th>
            <th scope="col">PRODUCT</th>
            <th scope="col">LIMIT</th>
            <th scope="col">QUANTITY</th>
            <th scope="col">PRICE</th>            
            <th scope="col">MA</th>
            <th scope="col">STATUS</th>
          </tr>
        </thead>
        <tbody>
            <td><input class="form-control" type="text" name="name" value=""  required id="id_name"></td>
            <td>BTCUSDT</td>
            <td><input class="form-control" type="number" name="limit" value="" step="1e-8" required id="id_limit"></td>
            <td><input class="form-control" type="number" name="quantity" value="" required id="id_quantity"></td>
            <td>0</td>
            <td>0</td>
            <td>OPEN</td>
        </tbody>
    </table>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock container %}